.navbar-brand {
    width: 96px;
    height: 100%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.navbar-brand svg {
    vertical-align: middle;
}

.navbar {
    border: 0;
    padding: 0;
    height: 55px;
    line-height: 1.5;
}